body {
  background-color: #573529;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  gap: 40px;
  background-color: #fff;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: center;
}

.header-back {
  background-color: #fff;
  width: 100%;
}

.search {
  display: flex;
  width: 468px;
  position: relative;
}

.search-input {
  width: 100%;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: auto;
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  border-radius: 18px;
  border: 1px solid #5c5c5c;
  justify-content: space-between;
}

.search-button {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: 32px;
  align-items: center;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #626262;
}

.button-blog {
  width: 50px;
  padding: 10px 12px 10px 0px;
  color: #626262;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
  position: relative;
  text-align: start;
  border: none;
}

.button-blog::after {
  content: "";
  background-image: url(../images/vectors/Chevron-Down.svg);
  background-size: 16px 16px;
  background-position: top 0 right 0;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: -10px;
}

.blog-menu-div {
  background-color: #fff;
  width: 200px;
  position: absolute;
  top: 40px;
  right: -140px;
  display: none;
}

.blog-form:hover + .blog-menu-div {
  display: block;
}

.blog-menu-div:hover {
  display: block;
}

.all-posts-link {
  text-decoration: none;
}

.all-posts-link:hover,
.forth-title:hover {
  color: #de9e47;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}
.blog-menu-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.blog-link {
  text-decoration: none;
  color: #000;
}

.start-trip {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.page-main {
  padding: 80px;
}

.page-introduce {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  color: var(--White, #fdfdfd);
  font-family: Playfair Display SC;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 115.2px */
}

.about-us {
  padding: 12px 34px;
  border: 1px solid var(--White, #fdfdfd);
  background: var(--White, #fdfdfd);
  color: var(--Black-brown, #372d2e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-2 {
  display: flex;
  justify-content: space-between;
}

.second-size-text {
  color: var(--White, #fdfdfd);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.blog-text {
  color: #626262;
}

.blog-title {
  color: #000;
  font-weight: 500;
}

.blog-link:hover,
.blog-text:hover {
  color: #000;
}

.start-posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post-link {
  text-decoration: none;
}

.post-list {
  display: flex;
  gap: 32px;
}

.posts-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  gap: 44px;
}

.forth-title {
  color: var(--White, #fdfdfd);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.post-list {
  display: flex;
}

.post-blog-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 384px;
  position: relative;
}

.for-card-title {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 20.83%,
    rgba(0, 0, 0, 0.67) 100%
  );
  position: absolute;
  top: 175px;
  left: 0px;
}

.card-title {
  color: var(--White, #fdfdfd);
  font-family: Playfair Display SC;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.move-button-back,
.move-button-forward {
  background-color: #573529;
  border: none;
  cursor: pointer;
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}

.move-button-back:hover,
.move-button-forward:hover {
  color: #de9e47;
}

.move-button-back {
  padding-left: 28px;
}

.move-button-forward {
  padding-right: 28px;
}

.move-button-back::before {
  content: "";
  background-image: url(../images/vectors/arrow-left.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 0px;
}

.move-button-forward::after {
  content: "";
  background-image: url(../images/vectors/arrow-right.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 0px;
}

.pagination {
  padding-top: 24px;
  border-top: 1px solid var(--gray-200, #eaecf0);
  display: flex;
  justify-content: space-between;
}

.pagination-numbers {
  display: flex;
}

.pagination-list {
  display: flex;
}

.pagination-element {
  width: 40px;
  height: 40px;
}

.pag-button-active {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: var(--primary-50, #f9f5ff);
  color: var(--Yellow, #de9e47);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.pag-button-unactive {
  width: 40px;
  height: 40px;
  color: var(--White, #fdfdfd);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #573529;
  border: none;
  cursor: pointer;
}

.second-title {
  color: var(--White, #fdfdfd);
  font-family: Playfair Display SC;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  margin-bottom: 40px;
}

.for-beginners {
  display: block;
  margin-top: 64px;
  margin-bottom: 64px;
  align-items: center;
}

.beginners-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.begginers-div {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.begginers-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.begginers-element {
  padding-left: 20px;
  position: relative;
}

.begginers-element:nth-child(1)::before {
  content: "";
  background-image: url(../images/vectors/1gr.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -32px;
}

.begginers-element:nth-child(2)::before {
  content: "";
  background-image: url(../images/vectors/2gr.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -32px;
}

.begginers-element:nth-child(3)::before {
  content: "";
  background-image: url(../images/vectors/3gr.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -32px;
}

.begginers-element:nth-child(4)::before {
  content: "";
  background-image: url(../images/vectors/4gr.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -32px;
}

.first-size-text {
  color: var(--White, #fdfdfd);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.page-footer {
  background-color: #fff;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-wrapper {
  display: flex;
  gap: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
}

.footer-text {
  color: #626262;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.txt-underline:hover {
  text-decoration: underline;
}

.txt-black:hover {
  color: #000;
}

.footer-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pages-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: start;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: start;
}

.add-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-info-list {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: start;
}

/* about-us.html */

.main-wrapper {
  padding: 60px;
}

.third-title {
  color: var(--White, #fdfdfd);
  font-family: Playfair Display SC;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-container-1 {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.text-column {
  display: flex;
  flex-direction: column;
  width: 380px;
  text-align: justify;
  gap: 10px;
}

.about-us-text {
  color: var(--White, #fdfdfd);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
}

.div-container-2 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.for-text {
  width: 400px;
}

.image-div {
  margin-top: 60px;
}

.div-container-3 {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin-top: 60px;
}

.contacts-image {
  margin-bottom: 60px;
}

.contacts-container-1 {
  display: flex;
  gap: 50px;
}

.contacts-container-2 {
  text-align: center;
  margin-top: 60px;
}

.form-frame {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 565px;
  border-radius: 24px;
  background-color: #fff;
  padding: 30px;
  margin: 0 auto 48px auto;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.form-input {
  display: block;
  padding: 12px;
  width: auto;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.label1 {
  display: block;
  color: #626262;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea {
  min-height: 104px;
  resize: none;
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px;
}

.send-button {
  width: 196px;
  padding: 10px 12px;
  border-radius: 4px;
  background: #de9e47;
  color: #f6fdff;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
}

/* contacts */

.for-socials {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 600px;
}

.socials-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.socials-element {
  position: relative;
  padding-left: 100px;
}

.socials-element::before {
  content: "";
  background-image: url(../images/vectors/long-arrow.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 24px;
  position: absolute;
  top: 0;
  left: -32px;
}

/* blog */

.all-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 32px;
}

.post-list-2 {
  display: grid;
  grid-template-columns: repeat(1, 590px);
  grid-template-rows: repeat(1, 310px);
  column-gap: 32px;
}

.post-element {
  width: 100%;
  position: relative;
}

.post-element:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.post-element:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.post-blog-card-long {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.for-card-title-long {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 20.83%,
    rgba(0, 0, 0, 0.67) 100%
  );
  position: absolute;
  top: 199px;
  left: 0px;
}

.card-text {
  color: var(--White, #fdfdfd);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 187.5% */
}

.post-list-3 {
  display: grid;
  grid-template-columns: repeat(3, 382px);
  grid-template-rows: repeat(1, 302px);
  column-gap: 32px;
}

.post-main-div {
  background-image: url(../images/post-background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  align-items: center;
}

.post-main-div-2 {
  background-image: url(../images/post-background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  align-items: center;
}

.post-main-div-3 {
  background-image: url(../images/post-background-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  align-items: center;
}

.post-main-div-4 {
  background-image: url(../images/post-background-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  align-items: center;
}

.post-main-div-5 {
  background-image: url(../images/post-background-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
  align-items: center;
}

.post-main-div-6 {
  background-image: url(../images/post-background-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  align-items: center;
}

.post-main-div-7 {
  background-image: url(../images/post-background-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  align-items: center;
}

.post-content {
  display: flex;
  justify-content: center;
  padding: 80px;
  gap: 64px;
  align-items: center;
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 580px;
}

.post-text {
  color: var(--White, #fdfdfd);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 187.5% */
}

article {
  position: relative;
}

article::after {
  content: "";
  background-image: url(../images/vectors/elipses.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 4px;
  position: absolute;
  bottom: -24px;
  left: 260px;
}

.images-block {
  display: flex;
  gap: 24px;
}

.changed-photo {
  border: 2px solid white;
}

.changed-photo:hover {
  border: 2px solid #de9e47;
}

strong {
  font-weight: 700;
}

b {
  font-weight: 700;
}
